<div id="preview-outer-container" class="panel-inverse panel">
    <div id='preview-title' class="panel-heading">
        <div class="panel-title">
            <span class='glyphicon glyphicon-eye-open' style=""></span>
            <span>Preview</span>

            <span style="font-size: 15px; position: relative; top: 4px;cursor:pointer;" class='glyphicon glyphicon-remove-circle pull-right' onclick="closePreview();"></span>
        </div>
    </div>
    <div class="panel-body" id="preview-container"></div>
</div>
