@{
    ViewBag.Title = "Your Dashboard";
    ViewBag.DashboardMenu_Home = "active";
    ViewBag.DashboardActive = "active";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
           @Html.Partial("_DashboardMenu")
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron" style="margin-top:10px;">
                <h2>
                    <span class="glyphicon glyphicon-dashboard" style="font-size: 40px;"></span>
                    <span style="position: relative; top: -10px;">Temporary Dashboard Placeholder!
                    </span>
                </h2>
            </div>
        </div>
    </div>
</div>
